@media screen and (min-width: 1200px) {
  .box-text-hero {
    max-width: 496px;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: calc(60 / 56);
    text-align: center;
    letter-spacing: 0.02em;
  }
  .tabs-web-studio.current::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    bottom: -98%;
    height: 4px;
    background-color: #404bbf;
    left: 0;
    border-radius: 2px;
  }
  .container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* -------------------------------------- */
  .logo {
    margin-right: 76px;
  }
  .header {
    height: 72px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .header-mail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }
  .header-tel {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 0px;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .menu-desktop {
    display: block;
  }
  .hero-section {
    background-color: var(--tags-color);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      -webkit-image-set(url('../images/people-office1@2x.jpg') 2x, url('../images/people-office1.jpg')
            1x, url('../images/people-office1@3x.jpg') 3x);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    flex-grow: 1;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .studio-logo-style {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: calc(21 / 18);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .box-header-contacs-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
  }
  .button-open-menu {
    display: none;
  }
  .links {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }
  .btt-menu-mobile {
    display: none;
  }
  .section-slogan {
    margin-bottom: 48px;
  }
  /* -------------------------------------- */
  .box-wawd-section {
    display: block;
  }
  .section-futures-web {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .box-futures-text {
    display: flex;
    flex-direction: row;
  }
  .box-futures-item {
    width: 264px;
  }
  .list-futures-svg {
    margin-bottom: 8px;
  }
  .futures-name {
  }
  .futures-text {
    margin-top: 8px;
    max-width: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }
  .box-futures-text {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .list-futures-svg {
    display: flex;
    align-items: center;
  }
  .future-svg {
    display: flex;
    align-items: center;
  }
  .futures-name {
    display: inline;
    width: 264px;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
  }
  /* ------------------------------------------ */
  .box-our-team-list {
    display: flex;
    flex-direction: row;
  }
  /* ----------------------------------------- */
  .customers-list {
    display: flex;
    flex-wrap: nowrap;
  }
  .item-list-customers {
  }
  /* --------------------------------------------- */
  .container-footer {
    display: flex;
    flex-direction: row;
  }
  /* ------------------------------------------ */
  .btt-footer {
    display: block;
    margin-left: 24px;

    margin-bottom: 0;
  }
  .studio-link {
    margin-bottom: 0px;
  }
  .portfolio-link {
    margin-bottom: 0px;
  }
  .footer-div-logo {
    display: flex;
    align-items: flex-start;
  }
  .footer-input-email {
    display: block;
    margin-left: auto;
    margin-bottom: 0;
    min-width: 264px;
  }
  .form-footer {
    display: flex;
    align-items: flex-start;
    margin-left: auto;
  }
  .div-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .footer-div-link {
    display: block;
    margin-left: 120px;
  }
  .main-section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  /* FOOTER------------------------------------ */
  .box-list-portfolio-btt {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .first-list-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .items-list-portfolio {
    width: 360px;
    height: 420px;
  }
  .first-box-portfolio {
    width: 1158px;
    height: auto;
  }
}
