@media screen and (min-width: 480px) {
  body {
    padding-left: 16px;
    padding-right: 16px;
  }
  .container {
  }
  /* ------------------------------------ */
  .box-text-hero {
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    text-align: center;
    letter-spacing: 0.02em;
  }
  /* ------------------------------------ */
  .box-wawd-section {
    visibility: hidden;
  }
  .section-futures-web {
  }
  .futures-text {
    width: 396px;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
  }

  .list-future-svg {
  }
  .box-futures-text {
    display: flex;
    flex-direction: column;
  }
  .box-futures-item {
  }
  .list-futures-svg {
    visibility: hidden;
  }
  .future-svg {
    visibility: hidden;
  }
  .futures-name {
    height: 40px;
    width: 396px;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }
  /* ------------------------------------- */
  .box-our-team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* ------------------------------------- */
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
  }
  .item-list-customers {
    width: 190px;
    height: 88px;
  }
  /* ------------------------------------- */
  .container-footer {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
  }
  /* ------------------------------------- */
  .footer-div-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* --------------------------------------*/
  .footer-list-link {
  }
  .footer-div-link {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* ----------------------------------- */
  .form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-left: 0;
  }
  .footer-input-email {
    margin-bottom: 16px;
  }
  .div-footer {
    display: flex;
    flex-direction: column;
  }
  /* PORTFOLIO------------------------------ */
}
